# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# --------------------
# Visual Studio
# --------------------
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# --------------------
# Build folders
# --------------------
**/bin/
**/obj/
**/Debug/
**/Release/

# --------------------
# App settings (config)
# --------------------
**/appsettings.json
*/appsettings..json

# --------------------
# Logs and temp files
# --------------------
*.log
*.tlog
*.cache
*.tmp
*.bak

# --------------------
# Dotnet Tools
# --------------------
.terraform/
.dotnet/
.vscode/

# --------------------
# Others
# --------------------
*.db
*.pdb
*.db-shm
*.db-wal
*.sqlite

# --------------------
# node_modules (if using frontend)
# --------------------
node_modules/
dist/
.env
.env.local
.env.*.local
*.v2
*.v2